.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.noselect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Arial", "Helvetica Neue", sans-serif;
  font-size: 20px;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 1920px) {
  body {
    font-size: 25px;
  }
}

#works {
  border-bottom: 1px solid black;
}

header {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 3rem;
}

header .content {
  position: relative;
}

header .main-title {
  text-transform: uppercase;
  font-weight: bold;
  float: left;
  font-size: 1.5em;
}

header nav {
  float: right;
}

header nav .pages {
  line-height: 1.8em;
}

header nav .pages a {
  display: inline-block;
  margin-left: 1em;
}

header nav .categories {
  position: absolute;
  left: 0;
  margin-top: .5em;
}

header nav .categories a {
  display: inline-block;
  margin-right: .75em;
}

header nav .categories a span {
  font-size: 1.2em;
}

main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 16rem;
  padding: 0 3rem;
}

hr {
  flex-basis: 100%;
  height: 0;
  border: none;
}

article {
  position: relative;
  width: 50%;
}

@media (max-width: 1280px) {
  article {
    width: 100%;
  }
}

article .content {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

article .content .visual {
  flex-grow: 1;
  position: relative;
  display: flex;
}

article .content .visual img {
  display: block;
  position: absolute;
  object-fit: contain;
  width: 100%;
  height: 100%;
}

article .content .meta {
  transition: opacity .5s ease;
  padding: 7%;
  display: flex;
  align-items: center;
}

@media (hover: hover) and (pointer: fine) {
  article .content .meta {
    opacity: 0;
  }
}

article .content .meta > div {
  display: block;
  flex-grow: 1;
  font-family: "Times New Roman", "Times", serif;
  font-style: italic;
  text-align: center;
}

article .content .meta > div .title {
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: .1em;
}

article .content .meta > div .count {
  font-style: normal;
  margin-left: .25em;
}

article.small .content {
  padding: 16%;
}

article.medium .content {
  padding: 8%;
}

article:nth-child(even) {
  transform: translate(0, 8%);
}

article:hover .meta {
  opacity: 1;
}

article:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
